doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Bebop control panel
body
	h1 Bebop control panel
	p
		a(href="/") Inicio
	p
		a(href="/take_off") Take off
	p
		a(href="/to_land") To land
	p
		a(href="/take_a_picture") Picture